body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1f2937, #111827);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/11771069.png");
    background-size: cover;
    /* makes image fill the container */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* prevents repeating */
}

.container {
    background: trans;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 600px;

}

h1 {
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.btn {
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    display: block;
}

.btn:hover {
    background: #1d4ed8;
    transform: translateY(-3px);
}